---
const {
  href = "#",
  target = "_blank",
  primary,
  secondary,
  ...props
} = Astro.props;
---

<a
  href={href}
  target={target}
  class={primary ? "primary" : secondary ? "secondary" : "primary"}
  {...props}
>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light-text-color);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  .primary {
    background: linear-gradient(
      90deg,
      var(--primary-color),
      var(--secondary-color)
    );
  }

  .secondary {
    background-color: transparent;
    border: 1px solid var(--light-text-color);
  }
</style>
