---

---

<section>
  <h2>Let’s Build Your Vision Together</h2>
  <p>
    Ready to start? Reach out to discuss your custom software needs, web design
    dreams, or any questions. We’re here to turn your ideas into reality with
    tailored solutions.
  </p>
  <a href="#" target="_self" rel="noopener noreferrer" title="contactanos"
    >Contactanos</a
  >
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 3rem 1rem;
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
    color: var(--light-text-color);

    h2 {
      font-size: var(--mobile-subtitle);
      text-transform: uppercase;
    }
    p {
      max-width: 600px;
      font-size: var(--mobile-regular-text);
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: var(--light-text-color);
      font-weight: 600;
      padding: 0.9rem 4rem;
      background-color: #53009d;
      border-radius: 100px;
    }
  }

  @media screen and (min-width: 768px) {
    section {
      padding: 4rem 2rem;
      h2 {
        font-size: var(--tablet-subtitle);
      }
      p {
        font-size: var(--tablet-regular-text);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    section {
      padding: 6rem 0rem;
      h2 {
        font-size: var(--desktop-subtitle);
      }
      p {
        font-size: var(--desktop-regular-text);
      }
    }
  }
</style>
