---
import Navbar from "./Navbar.astro";

const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style is:global>
  * {

    /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* colors */
    --light-text-color: #ffffff;
    --dark-text-color: #cfcfcf;
    --black-color: #000000;
    --primary-color: #8803ff;
    --secondary-color: #f469e2;
    --terciary-color: #53009D;
    --gray-color:#333333;

    /* fonts */
    --font-primary: "Montserrat", sans-serif;

    /* Dekstop */
    --main-titile: 2rem;
    --subtitle:1.5rem;
    --regular-text:1rem;
    --eyebrow:0.8rem;

    /* Mobile */
    --mobile-main-titile: 1.5rem;
    --mobile-subtitle:1.2rem;
    --mobile-regular-text:1rem;
    --mobile-eyebrow:0.7rem;

  }
  html {
    scroll-behavior: smooth;
    background-color: var(--black-color);
    color: var(--light-text-color);
  }
  body {
    font-family: var(--font-primary);
  }
</style>
